.main-chat
  .main-chat__group-info
    .header-leftbox
      %h2.group-title
        test
        %ul.group-member
          Member:
          %li
            igarashi
    .header-rightbox
      = link_to "#" do
        .edit-btn
          Edit
  .main-chat__message-list
  .main-chat__message-form