* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
  .side-bar {
    width: 300px;
    background-color: #253141;
    &__user-name {
      height: 100px;
      background-color: #253141;
    }
    &__group-list {
      height: calc(100vh - 100px);
      background-color: #2f3e51;
    }
  }
  .main-chat {
    width: calc(100vw - 300px);
    background-color: #ffffff;
    &__group-info {
      height: 100px;
      border-bottom: 1px solid #eeeeee;
    }
    &__message-list {
      height: calc(100vh - 190px);
      background-color: #fafafa;
    }
    &__message-form {
      height: 90px;
      background-color: #d2d2d2;
    }
  }
}